
@{
    ViewBag.Title = "Contact";
}

<style>
body {
    background-image: url('@Url.Content("~/image/BACKGROUND6.jpg")');
    background-repeat: no-repeat;
    background-size: cover;
}

</style>

<font color="White">
    <div class="griid">
        <div>
            <p style="width: 250px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                YOU CAN FIND US AT  DURBAN,RICHARDS BAY,THONGATHI,MGABABA & MBONAMBI.
            </p>
            <P class="pg">
                CaféGym uMhlanga
                4 Sunset Cres, Umhlanga Ridge, Durban, 4319

                Email:<a href="mailto: clubmanager@cafegym.co.za" target="_blank"> clubmanager@cafegym.co.za</a>
            </P>
            <p class="pg2">
                CaféGym Empangeni 2
                Empangeni shopping center, Central, Empangeni, 3880

                Email:<a href="mailto:admin@cafegym.co.za" target="_blank">admin@cafegym.co.za</a>
            </p>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4893.5381770291415!2d30.999176374243216!3d-29.85694697881396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef7a9ef25574ce5%3A0x555aebc3b982f0da!2sBerea%20Centre!5e0!3m2!1sen!2sza!4v1713215573821!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <section id="Contact Us">
        <h2>Contact Us</h2>
        <form>
            <input type="text" name="name" placeholder="Your Name">
            <br><br>
            <input type="email" name="email" placeholder="Your Email">
            <br><br>
            <textarea name="message" placeholder="Your Message"></textarea>
            <br><br>
            <input type="submit" value="Send Message">
        </form>
    </section>
</font>
